@charset "utf-8";
/* CSS Document */


*
{
box-sizing:border-box;
margin:0;
padding:0;
text-decoration:none;
list-style-type:none;
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


/*//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

.inicio
{
	color:black;
}


h1
	{
		background-color:white;
		width:100%;
		left:0;
		top:0;
		z-index:999;
		position:fixed;
		font-size:26px;
		padding:10px;
		text-align:center;
		text-shadow: -5px 2px 0px rgba(0,0,0,0.27);
	}
	
	.icon-user
	{
		position:absolute;
		right:0;
		cursor:pointer;
	}
	
	.rojo
	{
		color:rgba(153,0,51,1);
	}
	
nav>ul
{
	background-color:white;
	/*height:100vh;*/
	/*width:100vh;*/
	padding:15px;
	font-size:18px;	
	width:100%;
	position:fixed;
	top:50px;
	display:none;
	z-index:999;
}
nav>ul>li>a
{
	display:block;
	text-align:center;
	line-height:1.6;
	color:black;
	padding:12px;

}
nav>ul>li>ul
{
	display:none;
	text-align:center;
	
}
nav>ul>li>ul>li>a
{
	color:black;
}
	

.icon-circle-up
{
	position:absolute;
	z-index:30000;
	/*font-size:36px;*/
	right:0;
	top:86px;
	align-items:flex-start;
	/*left:0;*/
	width:65%;
	margin:auto;
	display:none;
	
}
.icon-circle-down
{
	position:absolute;
	z-index:30000;
	/*font-size:36px;*/
	right:0;
	top:86px;
	align-items:flex-start;
	/*left:0;*/
	width:65%;
	margin:auto;
	
}

.actual
{
	color:rgba(153,0,51,1);
}

.icon-menu
{
	position:absolute;
	top:10px;
	left:10px;
	z-index:30000;
	color:blue;
	
	/*background-color:white;*/
}
.icon-ifixit
{
	position:absolute;
	top:10px;
	left:10px;
	display:none;
	/*z-index:20000000000;*/
	
	
}

/*///////////////////////////////////////////SLIDER/////////////////////////////////////////////*/
.slider {
	width: 100%;
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
	padding-top:90px;
	/*background-color:lime;*/
	
	
	
}



.slider ul 
{
	display: flex;
    width: 500%;
	height: 300px;
	animation: cambio 15s infinite alternate linear;
	/*background-color:lime;*/
	
	}



.slider li {
	width: 100%;
	text-align: center;
}
.slider img {
	width: 80%;
	height: 60%;
	margin:auto;
	/*padding: 5px;*/
	display: block;
	/*border: 1px solid rgba(153,0,51,1);*/
	box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.49);
	-webkit-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.49);
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/*///////////////////////////////////////////FINAL DE SLIDER/////////////////////////////////////////////*/

/*///////////////////////////////////////bodega////////////////////////*/
h2
{
	text-align:center;
	font-size:20px;
}
h3
{
	text-align:center;
	font-size:20px;
	color:rgba(153,0,51,1);
	font-family:"Comic Sans MS", cursive;
	padding-top:30px;
}

.linea
{
	height:2px;
	width:48%;
	margin:auto;
	background-color:rgba(153,0,51,1);
	
}
.linea_2
{
	height:2px;
	width:67%;
	margin:auto;
	background-color:rgba(153,0,51,1);
	
}

section>article>h4
{
	text-align:center;
	font-size:20px;
	color:rgba(153,0,51,1);
	/*font-family:"Comic Sans MS", cursive;*/
	padding-top:25px;
}

section>article
{
	/*width:90%;
	margin:auto;*/
	text-align:justify;
	/*background-color:yellow;*/
}


section>article>p
{
	text-align:justify;
	padding-top:15px;
	font-size:14px;
	/*background-color:blue;*/
}

.espa
{
	position:absolute;
	right:10px;
	/*background-color:lime;*/
	padding:20px; /*quitar el padding en pc*/
}

.esvpa
{
	position:absolute;
	right:10px;
	/*background-color:lime;*/
	padding:20px; /*quitar el padding en pc*/
	padding-top:5px;
}

section
{
	padding-bottom:20px;
}
article
{
	padding:20px;
}

/*/////////////////////////////////////fin bodega/////////////////////////////////77777*/




.espacio
{
	padding-bottom:460px;
}











article>.bienvenido
{
	width:90%;
	margin:auto;
	/*height:50px;*/
	text-align:center;
}
.bienvenido>img
{
	max-width:100%; 
}

article>p
{
	width:90%;
	margin:auto;
}




.imagenes
{
	width: 95%;
	max-width: 1000px;
	margin: 0 auto;
	margin-bottom:250px;
	padding-bottom:300px;
	
}
img
{
	max-width:100%;
	border-radius:10px;
}

.imagenes>ol
{
	 width: 100%;
	height: 500px;
}

.imagenes li {
	/*width: 100%;*/
	text-align: center;
	
	/*background-color:silver;*/
	/*///////////////////////////////////////////////////////////////////////////////////*/
}
.imagenes img {
	/*width: 80%;*/
	height: 60%;
	margin:auto;
	padding:0;
	display: block;
	box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.49);
	-webkit-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.49);
	-moz-box-shadow: 0px 0px 17px 2px rgba(0,0,0,0.49);
	/*border: 4px solid rgba(153,0,51,1);*/
}
/*//////////////////////////////////////////////////////////////////////////////////////////////////*/
.imagen_flex
{
	/*display:none;*/
}

.flex>p
{
	line-height:1.3;
}

.icon-droplet
{
	font-size:36px;
	color:yellow;
}
section>.drop>p
{
	text-align:center;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

/*.formulario
{
	border:solid 2px rgba(153,0,51,1);
	text-align:justify;
}
.div_form
{
	padding:12px;
}
*/









/*.formulario
{
	
	font-size:18px;	
	width:100%;
	left:0;
	text-align:center;
	position:fixed;
	top:69px;
	display:none;
	background-color:white;
}
input
{
	border-radius:30px;
	padding:3px;
	text-align:left;
}*/









#contacto
{
	width:90%;
	margin:auto;
	text-align:center;
	border: solid 2px rgba(153,0,51,1);
	/*color:silver;*/
	/*padding:15px;*/
	/*margin-top:10px;*/
	/*margin-bottom:70px;*/
	border-radius:30px;
	}

.labellll
	{
		display:block;
	font-size:20px;
	color:rgba(153,0,51,1);
	}
	.innnnnputttt
	{
		
	margin-bottom:15px;
	text-align:center;
	width:90%;
	height:25px;
	border-radius:30px;
		
	}
	

#aceptar
{
	margin-top:15px;
	width:40%;
	color:white;
	background-color:rgba(153,0,51,1);
}
#textarea
{
	width: 80%;
	margin:0 auto;
	height: 110px;
	max-height: 110px;
}

	




/*////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
footer

{
	background-color:black;
	
	color:white;
	margin-top:100px;
	
}
.foter_1
{
	margin-bottom:35px;
}

iframe
{
	/*background-color:blue;*/
	/*border: solid 5px black;*/
	width:100%;
	height:300px;
	/*margin-top:600px;*/
}
.foter_3
{
	margin-top:35px;
	margin-bottom:35px;
	
	
}

.silver
{
	color:silver;
}
@media screen and (min-width :365px)
{
		.imagenes
{
	padding-bottom:450px;
	
}
}

@media screen and (min-width :410px)
{
	footer
	{
		width:100%;
		display:flex;
		flex-wrap:wrap;
		justify-content:center;
		text-align:center;
		padding:25px;
		margin-top:250px;
		
	}
		.foter_1
		{
			
			margin-right:30px;
			
		}
		.foter_3
		{
			margin-left:30px;
			margin-right:30px;
			margin-top:0;
		}
			.imagenes
{
	padding-bottom:650px;
	
}
.foter_4
{
	margin-top:35px;
	margin-bottom:35px;
	/*background-color:blue;*/
	width:100%;
	margin:auto;
	
}

}

@media screen and (min-width :510px)
{

}

@media screen and (min-width :560px)
{
	.foter_3
		{
			margin-left:0;
			margin-right:30px;
			margin-top:0;
		}
		
		.espacio
		{
			padding-top:270px;
		}
		
		.imagenes
{
	padding-bottom:650px;
	
}

}

@media screen and (min-width :560px)
{
	.foter_3
		{
			margin-left:0;
			margin-right:30px;
			margin-top:0;
		}
		
		footer
{
	background-color:black;
	color:white;
	width:100%;
	margin-top:600px;
	
}
	.imagenes
{
	padding-bottom:750px;
	
}

}

@media screen and (min-width :660px)
{
	.foter_3
		{
			margin-left:0;
			/*margin-right:10px;*/
			margin-top:0;
			/*background-color:yellow;*/
			width:50%;
			margin:auto;
			left:0;
			
		}
		
		footer
{
	background-color:black;
	color:white;
	width:100%;
	margin-top:800px;
	
}
.silver
{
	font-size:18px;
}

	.imagenes
{
	padding-bottom:750px;
	
}







}




@media screen and (min-width:730px)
{
		.imagenes
{
	padding-bottom:950px;
	
}

footer
{
	width:100%;
}

footer>.foter_1
{
	/*position:absolute;*/
	/*padding-top:0;*/
	left:0;
	/*background-color:red;*/
	/*border:solid red;*/
	margin-right:350px;
	
}

.foter_3
{
	margin-top:35px;
	margin-bottom:35px;
	/*background-color:blue;*/
	width:80%;
	margin:auto;
	/*position:absolute;*/
	
	/*margin-top:90px;*/
	
	
}
.foter_4
{
	margin-top:35px;
	margin-bottom:35px;
	/*background-color:blue;*/
	width:40%;
	margin:auto;
	text-align:justify;
	position:absolute;
	right:0;
	margin-top:0;
	
}
	
}

@media screen and (min-width:1022px)
{
	body
{
	background-color:rgba(153,153,153,0.2);
}
	h1
	{
		background-color:white;
		width:100%;
		left:0;
		top:0;
		position:fixed;
		font-size:46px;
	}
	
	.icon-user
	{
		font-size:25px;
	}
	
	
	.slider 
	{
	padding-top:120px;
	}
	.slider ul 
	{
	display: flex;
    width: 500%;
	height: 500px;
	animation: cambio 15s infinite alternate linear;

	}
	.slider img 
	{
	width: 90%;
	height: 80%;
	margin:auto;
	/*padding: 5px;*/
	display: block;
	
	}
	
	
.icon-menu
	{
		display:none;
		
	}
.icon-circle-with-cross
{
	display:none;
	
}



nav>ul
{
	width:100%;
	height:36px;
	top:62px;
	left:0;
	display:flex;
	justify-content:center;
	/*color:black;*/
	background-color:white;
	display:flex;
	padding:1px;
	margin:0;
	
}
li
{
	font-size:20px;
	margin-left:20px;
	padding:0;
	padding-left:15px;
	/*margin:0;*/
}
nav>ul>li>a
{
	padding:0;
	left:0;
	right:0;
	/*border: solid 1.5px red;*/
	/*padding:15px;*/
	/*margin:0;*/
	
}






nav>ul>li>ul
{
	display:none;
}
.icon-circle-up
{
	position:absolute;
	z-index:30000;
	font-size:20px;
	/*right:40px;*/
	top:9px;
	/*align-items:flex-start;*/
	left:85px;
	width:50px;
	display:none;
	/*background-color:lime;*/
	/*margin-left:852px;*/
}
.icon-circle-down
{
	position:absolute;
	z-index:30000;
	font-size:20px;
	/*right:40px;*/
	top:9px;
	/*align-items:flex-start;*/
	left:85px;
	/*right:0;*/
	/*background-color:lime;*/
	width:50px;
	
	
	
	/*width:60%;
	margin:auto;*/
}



















nav>ul>li>ul>li
{
	background-color:white;
	/*border:solid 1px black;*/
	cursor:pointer;
	border-top: 10px none #ff6550;
border-bottom: 10px hidden #ff6550;
background: #ffffff;
}

nav>ul>li>ul>li:hover
{
	background-color:rgba(153,0,51,1);
	
}

nav>ul>li>ul>li>a:hover
{
	color:white;
	cursor:pointer;
}







	.imagenes
{
	padding-bottom:40px;
	
}










/*///////////////////////////////////////bodega////////////////////////*/

section
{
	padding-bottom:20px;
	/*background-color:lime;*/
	width:90%;
	margin:auto;
	display:flex;
	
}
h2
{
	text-align:center;
	font-size:20px;
}
h3
{
	text-align:center;
	font-size:26px;
	color:rgba(153,0,51,1);
	font-family:"Comic Sans MS", cursive;
	padding-top:30px;
	
}
.linea
{
	height:2px;
	width:20%;
	margin:auto;
	background-color:rgba(153,0,51,1);
	margin-bottom:20px;
	
}
section>h3
{
	text-align:center;
	font-size:26px;
	color:rgba(153,0,51,1);
	font-family:"Comic Sans MS", cursive;
	padding-top:30px;
}

.linea
{
	height:2px;
	width:48%;
	margin:auto;
	background-color:rgba(153,0,51,1);
	
}
.linea_2
{
	height:2px;
	width:67%;
	margin:auto;
	background-color:rgba(153,0,51,1);
	
}

section>article>h4
{
	text-align:center;
	font-size:24px;
	color:rgba(153,0,51,1);
	/*font-family:"Comic Sans MS", cursive;*/
	padding-top:25px;
}

section>article
{
	width:50%;
	margin:auto;
	text-align:justify;
	/*background-color:yellow;*/
	
}


section>article>p
{
	text-align:justify;
	padding-top:15px;
	font-size:14px;
	/*background-color:blue;*/
	font-size:20px;
}

.espa
{
	right:0;
	width:65%;
	margin:auto;
	/*position:absolute;*/
	/*right:10px;*/
	/*background-color:lime;*/
	/*padding:20px;*/ /*quitar el padding en pc*/
}

.esvpa
{
	right:0;
	width:65%;
	margin:auto;
	/*position:absolute;*/
	/*right:10px;*/
	/*background-color:lime;*/
	/*padding:20px;*/ /*quitar el padding en pc*/
}
.re
{
	position:absolute;
	right:0;
	width:20%;
	margin:auto;
}

.reverse
{
	Flex-direction:row-reverse;
}

img
{
	max-width:100%;
	/*max-height:100%;*/
}

/*/////////////////////////////////////fin bodega/////////////////////////////////77777*/




.espacio
{
	display:inherit;
}


.bienvenido
{
	
	width:90%;
	margin:0 auto;
}




.bienvenido>img
{
	
	width:100%;
	height:600px;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}




















article>p
{
	font-size:26px;
	line-height:1.3;
	text-align:justify;
	padding:10px;
}
	
.imagen_flex
{
	display:inherit;
}

.flex
{
	display:flex;
	width:90%;
	margin:0 auto;
	margin-top:25px;
	margin-bottom:25px;
	/*background-color:lime;*/
}

.flex>p
{
	/*border: solid 3px black;*/
}

.flex>.pimg>img
{
	height:450px;
	width:100%;
}

.imagenes
{
	width:90%;
	
	margin:0 auto;
	
	/*display:flex;*/
	/*background-color:yellow;*/
	max-width:100%;
	
}

.imagenes>ol
{
	/*width:100%;*/
	/*margin:0 auto;*/
	display:flex;
	/*background-color:blue;*/
	
	
}
.imagenes>ol>li
{
	
	/*background-color:lime;*/
	/*margin:0 auto;*/
	/*padding:0;*/
}
	
ol>li
{
	
	/*background-color:orange;*/
	/*padding:0;*/
}	

	
	.zoom {
		max-width:100%;
    transition: transform .5s; 
}
 
.zoom:hover {
    transform: scale(1.2); 
}































/*////////////////////////////////////////reserva////////////////////////////////////////////////////////////////////////*/





#contacto
{
	font-size:25px;
	/*width:70%;*/
	/*background-color:yellow;*/
	
	border: solid 2px rgba(153,0,51,1);
	border-radius:30px;
	
	text-align:center;
	/*margin-bottom:80px;*/
	/*background-color:lime;*/
	}

.labellll
	{
		display:block;
		width:100%;
		font-size:20px;
		/*background-color:yellow;*/
		width:100%;
	}
	.innnnnputttt
	{
		
		justify-content:center;
		width:70%;
		height:25px;
		/*background-color:blue;*/
		
	}
	

	

#aceptar
{
	text-align:center;
	margin-top:1px;
	margin-bottom:15px;
	width:20%;
	color:white;
	background-color:rgba(153,0,51,1);
}
#textarea
{
	width: 70%;
	margin:0 auto;
	height: 110px;
	max-height: 110px;
}






/*//////////////////////////////////////final reserva////////////////////////////////////////////////////////////////////*/

/*/////////////////////////////////////empieza comentarios/////////////////////////////////////////////////////////////*/

.formulario_reservas_comentarios
{
	/*background-color:yellow;*/
	width:40%;
	padding:0;
	
}
.formulario_comentarios
{
	/*background-color:lime;*/
	width:30%;
	padding:0;
	
	
}
.icon-spoon-knife
{
	/*/*background-color:black;*/*/
	font-size:18px;
}

#contacto
{
	/*background-color:blue;*/
}


.contactanos
{
	/*background-color:blue;*/
	width:55%;
	
	
}

.contactanos>p
{
	
	font-size:24px;
	
}



.flex_1
{
	display:flex;
	width:90%;
	margin:0 auto;
	/*background-color:black;*/
	justify-content:space-around;
}

/*////////////////////////////////////////final de comentarios/////////////////////////////////////////////////////*/







.silver:hover
{
	color:rgba(153,0,51,1);
}

footer
{
	font-size:20px;
	justify-content:space-around;
}
footer
{
	background-color:black;
	color:white;
	margin-top:100px;
	text-align:center;
	width:100%;
	
	
}
.foter_1
{
	margin-bottom:35px;
	width:40%;
	text-align:center;
	/*background-color:lime;*/
	height:40%;
}
iframe
{
	/*background-color:blue;*/
	width:100%;
	height:300px;
}




/*.foter_3*/
{
	margin-top:0;
	margin-bottom:35px;
	text-align:center;
	/*background-color:yellow;*/
	width:25%;
}

.foter_3>p
{
	/*background-color:lime;*/
	text-align:center;
}

/*.foter_4*/
{
	/*width:30%;
	text-align:center;
	*/
	/*background-color:blue;*/
}

/*.foter_4>p*/
{
	/*text-align:center;*/
}


	.imagenes
{
	padding-bottom:10px;
	
}





footer>.foter_1
{
	/*position:absolute;*/
	/*padding-top:0;*/
	left:0;
	/*background-color:red;*/
	/*border:solid red;*/
	margin-right:350px;
	
}

.foter_3
{
	margin-top:35px;
	margin-bottom:35px;
	/*background-color:blue;*/
	width:80%;
	margin:auto;
	/*position:absolute;*/
	
	/*margin-top:90px;*/
	
	
}
.foter_4
{
	margin-top:35px;
	margin-bottom:35px;
	/*background-color:blue;*/
	width:40%;
	margin:auto;
	text-align:justify;
	position:absolute;
	right:0;
	margin-top:0;
	
}
}

@media  screen and (min-width :1024px)
{
		footer
{
	font-size:25px;
}


	.imagenes
{
	padding-bottom:10px;
	
}


}





@media  screen and (min-width :1026px)
{

	
footer
{
	width:100%;
}

footer>.foter_1
{
	/*position:absolute;*/
	/*padding-top:0;*/
	
	/*background-color:red;*/
	/*border:solid red;*/
	margin-right:350px;
	width:35%;
	margin-right:900px;
	
	
}

.foter_3
{
	margin-top:35px;
	margin-bottom:35px;
	/*background-color:blue;*/
	width:35%;
	margin:auto;
	padding:1px;
	margin:0;
	
	position:absolute;
	left:500px;
	
	
	
}

.foter_3>p
{
	/*background-color:lime;*/
	padding:0;
}

.foter_4
{
	margin-top:35px;
	margin-bottom:35px;
	/*background-color:lime;*/
	width:20%;
	margin:auto;
	text-align:justify;
	position:absolute;
	right:0;
	margin-top:0;
	
}



}






